*{
    margin 0;
    padding: 0;
    box-sizing: 0;
    font-family: arial;
}
body{
    background-color: rgb(20,20,20);
}
header{
    padding:8px 0;
    background-color: rgb(40,40,40);
}
.center{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}
.logo{
    display: inline-block;
    vertical-align: middle;
}
.logo img{
    max-width: 120px;
    width: 100%;
}
.menu{
    width: 40%;
}
.menu-itens{
    padding: 0 20px;
    display: inline-block;
}
.menu-itens a{
    color: rgb(120,120,120);
    margin-right: 10px;
    text-decoration: none;
}
.menu-itens a:hover{
    color: azure;
}