*{
    margin 0;
    padding: 0;
    box-sizing: 0;
    font-family: arial;
}
body{
    background-color: rgb(20,20,20);
}
header{
    padding:8px 0;
    background-color: rgb(40,40,40);
}
.center{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}
.logo{
    display: inline-block;
    vertical-align: middle;
}
.logo img{
    max-width: 120px;
    width: 100%;
}
.menu{
    width: 40%;
}
.menu-itens{
    padding: 0 20px;
    display: inline-block;
}
.menu-itens a{
    color: rgb(120,120,120);
    margin-right: 10px;
    text-decoration: none;
}
.menu-itens a:hover{
    color: azure;
}
.search{
    width: 60%;
    text-align: right;
}
.input-search{
    position: relative;
    width: 200px;
    display: inline-block;
}
.input-search i{
    left: 0;
    top :0;
    color: rgb(100,100,100);
}
.input-search input[type=text]{
    width: 100%;
    height: 30px;
    border: 1px solid rgb(120,120,120);
    margin: 9px 0;
    padding-left: 24px;
    background-color: rgb(42,42,42);
    color: azure;
}